* {
    background:     #22262D;
    background-alt: #393B44;
    foreground:     #C5C9C7;
    red:            #c4746e;
    blue:           #8ba4b0;
    green:          #8a9a7b;
    purple:         #a292a3;
    primary:        var(blue);
    selected:       var(blue);
    urgent:         var(red);
}
