/* --COLORS--*/
@define-color background rgba(30, 30, 46, 0.9);/*background*/
@define-color transparent rgba(0, 0, 0, 0);/*transparent*/
@define-color background-alt #1e1e2e;/*background-alt*/
@define-color foreground #cdd6f4;/*foreground*/
@define-color green #a6e3a1;/*green*/
@define-color red #f38ba8;/*red*/
@define-color blue #7fbbb3;/*blue*/
@define-color purple #cba6f7;/*purple*/
@define-color primary @purple;/*primary*/
@define-color secondary @blue;/*secondary*/
