@define-color cc-bg rgba(46, 46, 46, 0.7);
@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgba(48, 48, 48, 0.8);
@define-color noti-bg-opaque rgb(48, 48, 48);
@define-color noti-bg-darker rgb(38, 38, 38);
@define-color noti-bg-hover rgb(56, 56, 56);
@define-color noti-bg-hover-opaque rgb(56, 56, 56);
@define-color noti-bg-focus rgba(68, 68, 68, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgb(255, 255, 255);
@define-color text-color-disabled rgb(150, 150, 150);
@define-color bg-selected rgb(0, 128, 255);

@define-color background #2E3440;/*background*/
@define-color background-alt #2E3440;/*background-alt*/
@define-color foreground #D8DEE9;/*foreground*/
@define-color green #A3BE8C;/*green*/
@define-color red #BF616A;/*red*/
@define-color blue #81A1C1;/*blue*/
@define-color purple #B48EAD;/*purple*/
@define-color primary @blue;/*primary*/
@define-color secondary @foreground;/*secondary*/
