*.old
*.lastd
bemenu/.config/bemenu/colors.sh
sway/.config/sway/colors.conf
hypr/.config/hypr/colors.conf
kitty/.config/kitty/colors.conf
nvim/.config/nvim/lua/plugins/theme.lua
nvim/.config/nvim/lua/vim-theme-options.lua
swaync/.config/swaync/colors.css
tmux/.config/tmux/tmux-theme.tmux
wallpaper/.config/background
wallpaper/.config/blurred_background
waybar/.config/waybar/colors.css
sway/.config/sway/colors.conf
sway/.config/sway/config
fuzzel/.config/fuzzel/colors.ini
