/* --GRUVBOX COLORS--*/
@define-color background rgba(40, 40, 40, 1.0);/*background*/
@define-color transparent rgba(0, 0, 0, 0);/*transparent*/
@define-color background-alt #282828;/*background-alt*/
@define-color foreground #ebdbb2;/*foreground*/
@define-color green #98971a;/*green*/
@define-color red #cc241d;/*red*/
@define-color blue #458588;/*blue*/
@define-color primary @blue;/*primary*/
@define-color secondary @green;/*secondary*/
