/* --COLORS--*/
@define-color background rgba(40, 44, 52, 0.9);/*background*/
@define-color transparent rgba(0, 0, 0, 0);/*transparent*/
@define-color background-alt #282c34;/*background-alt*/
@define-color foreground #aab2bf;/*foreground*/
@define-color green #98c379;/*green*/
@define-color red #e06c75;/*red*/
@define-color blue #61afef;/*blue*/
@define-color primary @red;/*primary*/
@define-color secondary @blue;/*secondary*/
