/* --COLORS--*/
@define-color background rgba(39, 46, 51, 0.9);/*background*/
@define-color transparent rgba(0, 0, 0, 0);/*transparent*/
@define-color background-alt #272e33;/*background-alt*/
@define-color foreground #d3c6aa;/*foreground*/
@define-color green #a7c080;/*green*/
@define-color red #e67e80;/*red*/
@define-color blue #7fbbb3;/*blue*/
@define-color primary @green;/*primary*/
@define-color secondary @red;/*secondary*/
