* {
    background:     #1d2021;
    background-alt: #504945;
    foreground:     #ebdbb2;
    red:            #cc241d;
    blue:           #458588;
    green:          #98971a;
    orange:         #d65d0e;
    magenta:         #b16286;
    purple:         #b16286;
    primary:        var(orange);
    selected:       var(orange);
    urgent:         var(red);
}
