configuration {
    modes: "drun,run,ssh,window";
    font: "JetbrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Breeze";
    terminal: "alacritty";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
