* {
    background:     #1d2021;
    background-alt: #504945;
    foreground:     #ebdbb2;
    black:            #282828;
    red:            #cc241d;
    blue:           #458588;
    cyan:           #689d6a;
    green:          #98971a;
    yellow:         #d79921;
    orange:         #d65d0e;
    magenta:        #b16286;
    purple:         #b16286;
    white:            #ebdbb2;
    primary:        var(orange);
    selected:       var(orange);
    urgent:         var(red);
    font: "Iosevka Nerd Font 14";

    separatorcolor:              transparent;
    border-color:                var(primary);
    normal-background:           var(background);
    alternate-active-background: var(background);
    spacing:                     2;
    selected-normal-foreground:  var(background);
    active-foreground:           var(primary);
    selected-active-background:  var(primary);
    active-background:           var(background);
    selected-normal-background:  var(primary);
    alternate-normal-background: var(background);
    selected-urgent-foreground:  var(background);
    normal-foreground:           var(foreground);
    alternate-urgent-foreground: var(red);
    alternate-active-foreground: var(primary);
}
