* {
    background:     #191724;
    background-alt: #1f1d2e;
    foreground:     #e0def4;
    red:            #eb6f92;
    blue:           #9ccfd8;
    green:          #31748f;
    yellow:         #f6c177;
    orange:         #ebbcba;
    magenta:        #c4a7e7;
    purple:         #c4a7e7;
    primary:        var(magenta);
    selected:       var(magenta);
    urgent:         var(red);
    font: "Iosevka Nerd Font 14";

    separatorcolor:              transparent;
    border-color:                var(primary);
    normal-background:           var(background);
    alternate-active-background: var(background);
    spacing:                     2;
    selected-normal-foreground:  var(background);
    active-foreground:           var(primary);
    selected-active-background:  var(primary);
    active-background:           var(background);
    selected-normal-background:  var(primary);
    alternate-normal-background: var(background);
    selected-urgent-foreground:  var(background);
    normal-foreground:           var(foreground);
    alternate-urgent-foreground: var(red);
    alternate-active-foreground: var(primary);
}
