/* --COLORS--*/
@define-color background rgba(26, 27, 38, 1.0);/*background*/
@define-color transparent rgba(0, 0, 0, 0);/*transparent*/
@define-color background-alt #414868;/*background-alt*/
@define-color foreground #a9b1d6;/*foreground*/
@define-color green #73daca;/*green*/
@define-color red #f7768e;/*red*/
@define-color blue #7aa2f7;/*blue*/
@define-color magenta #bb9af7;/*magenta*/
@define-color primary @magenta;/*primary*/
@define-color secondary @blue;/*secondary*/
