@define-color background_color {background_color};
@define-color foreground_color {foreground_color};
@define-color background_alt_color {background_alt_color};
@define-color black_color {black_color};
@define-color red_color {red_color};
@define-color green_color {green_color};
@define-color yellow_color {yellow_color};
@define-color blue_color {blue_color};
@define-color magenta_color {magenta_color};
@define-color cyan_color {cyan_color};
@define-color orange_color {orange_color};
@define-color white_color {white_color};
@define-color primary_color {primary_color};

*{{
    font-family: {font};
}}

window {{
        background-image: url("{wallpaper_path}");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: @background_color;
}}

#date-label,
#input-label,
#input-label:focus,
#input-label:active,
#input-label:hover,
#input-label label,
#message-revealer,
#input-field,
#clock-label {{
    color: @foreground_color;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    outline: none;
}}

#input-field:active,
#input-field:focus,
#input-field:hover,
#input-field {{
    background-color: @background_color;
    /* border: 1px solid @primary_color; */
    border-radius: 0px;
    border: none;
}}

#unlock-button {{
    background: @background_color;
    color: @foreground_color;
    /* border: 1px solid @primary_color; */
    border: none;
    box-shadow: none;
    border-radius: 0px;
}}

#unlock-button label {{
    color: @foreground_color;
}}
