background_color = "rgb({background_color_strip_hashtag})"
foreground_color = "rgb({foreground_color_strip_hashtag})"
green_color = "rgb({green_color_strip_hashtag})"
red_color = "rgb({red_color_strip_hashtag})"
blue_color = "rgb({blue_color_strip_hashtag})"
orange_color = "rgb({orange_color_strip_hashtag})"
primary_color = {primary_color_name}_color
secondary_color = {secondary_color_name}_color

