[ColorEffects:Disabled]
Color={foreground_inactive_rgb}
ColorAmount=0.55
ColorEffect=3
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={foreground_inactive_rgb}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={background_rgb}
BackgroundNormal={background_rgb}
DecorationFocus={accent_rgb}
DecorationHover={hover_rgb}
ForegroundActive={accent_rgb}
ForegroundInactive={foreground_inactive_rgb}
ForegroundLink={blue_rgb}
ForegroundNegative={red_rgb}
ForegroundNeutral={yellow_rgb}
ForegroundNormal={foreground_rgb}
ForegroundPositive={green_rgb}
ForegroundVisited={purple_rgb}

[Colors:Selection]
BackgroundAlternate={background_rgb}
BackgroundNormal={accent_rgb}
DecorationFocus={accent_rgb}
DecorationHover={hover_rgb}
ForegroundActive={accent_rgb}
ForegroundInactive={foreground_inactive_rgb}
ForegroundLink={blue_rgb}
ForegroundNegative={red_rgb}
ForegroundNeutral={yellow_rgb}
ForegroundNormal={background_rgb}
ForegroundPositive={green_rgb}
ForegroundVisited={purple_rgb}

[Colors:Tooltip]
BackgroundAlternate={background_rgb}
BackgroundNormal={background_rgb}
DecorationFocus={accent_rgb}
DecorationHover={hover_rgb}
ForegroundActive={accent_rgb}
ForegroundInactive={foreground_inactive_rgb}
ForegroundLink={blue_rgb}
ForegroundNegative={red_rgb}
ForegroundNeutral={yellow_rgb}
ForegroundNormal={foreground_rgb}
ForegroundPositive={green_rgb}
ForegroundVisited={purple_rgb}

[Colors:View]
BackgroundAlternate={background_rgb}
BackgroundNormal={background_rgb}
DecorationFocus={accent_rgb}
DecorationHover={hover_rgb}
ForegroundActive={accent_rgb}
ForegroundInactive={foreground_inactive_rgb}
ForegroundLink={blue_rgb}
ForegroundNegative={red_rgb}
ForegroundNeutral={yellow_rgb}
ForegroundNormal={foreground_rgb}
ForegroundPositive={green_rgb}
ForegroundVisited={purple_rgb}

[Colors:Window]
BackgroundAlternate={background_rgb}
BackgroundNormal={background_rgb}
DecorationFocus={accent_rgb}
DecorationHover={hover_rgb}
ForegroundActive={accent_rgb}
ForegroundInactive={foreground_inactive_rgb}
ForegroundLink={blue_rgb}
ForegroundNegative={red_rgb}
ForegroundNeutral={yellow_rgb}
ForegroundNormal={foreground_rgb}
ForegroundPositive={green_rgb}
ForegroundVisited={purple_rgb}

[General]
ColorScheme={scheme_id}
Name={scheme_name}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={background_rgb}
activeForeground={foreground_rgb}
inactiveBackground={background_rgb}
inactiveForeground={foreground_inactive_rgb}
