* {{
    background:     {background_color};
    background-alt: {background_alt_color};
    foreground:     {foreground_color};
    red:            {red_color};
    blue:           {blue_color};
    green:          {green_color};
    purple:         {magenta_color};
    primary:        var({primary_color_name});
    selected:       var({primary_color_name});
    urgent:         var(red);
}}
