@define-color background {background_color};/*background*/
@define-color background-alt {background_alt_color};/*background-alt*/
@define-color foreground {foreground_color};/*foreground*/
@define-color green {green_color};/*green*/
@define-color red {red_color};/*red*/
@define-color blue {blue_color};/*blue*/
@define-color primary @{primary_color_name};/*primary*/
@define-color secondary @{secondary_color_name};/*secondary*/

