/* Color definitions */
@import "colors.css";

/* Reset all styles */
* {
  all: unset;
  font-family: "AdwaitaMono Nerd Font";
  font-size: 15px;
  border-radius: 5px;
}

/* Window wrapper */
.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @background;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @primary;
}

/* Input field */
.input {
  caret-color: @foreground;
  background: lighter(@background);
  padding: 10px;
  color: @foreground;
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

/* List items */
.list {
  color: @foreground;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: lighter(@background) ;
}

.item-text {
  font-size: 14px;
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image,
.item-image-text {
  margin-right: 10px;
}

/* Quick activation labels */
.item-quick-activation {
  margin-left: 10px;
  background: lighter(@background);
  border-radius: 5px;
  padding: 10px;
}

/* Placeholders */
.placeholder,
.elephant-hint {
  color: @foreground;
  opacity: 0.5;
}

/* Keybinds display */
.keybinds-wrapper {
  border-top: 1px solid lighter(@background);
  font-size: 12px;
  opacity: 0.5;
  color: @foreground;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

/* Error display */
.error {
  padding: 10px;
  background: @red;
  color: @foreground;
  border-radius: 5px;
}

/* Preview pane */
.preview {
  border: 1px solid alpha(@background, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: @foreground;
}

/* Icon sizes */
.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

/* Hide scrollbar */
scrollbar {
  opacity: 0;
}
