* {
    background:     #282828;
    background-alt: #3c3836;
    foreground:     #ebdbb2;
    red:            #cc241d;
    blue:           #458588;
    green:          #98971a;
    purple:         #b16286;
    primary:        var(blue);
    selected:       var(blue);
    urgent:         var(red);
}
