/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1e2326;
    background-alt: #272e33;
    foreground:     #d3c6aa;
    primary:        #a7c080;
    selected:       #7FBBB3FF;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
}
