/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282c34ff;
    background-alt: #282c34ff;
    foreground:     #aab2bfff;
    primary:        #61afefff;
    selected:       #61afefff;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
